<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Automation Test Suite">

    <test name="Selenium Automation Tests">
        <classes>
            <!-- Dummy Test (verification purpose) -->
            <class name="com.automation.BasicAutomationTest"/>

            <!-- Real Selenium Test -->
            <class name="com.automation.OldWikipediaSearchTest"/>
            <class name="com.automation.DataDrivenTest"/>
            <class name="com.automation.AdvancedAutomationTest"/>
        </classes>
    </test>

</suite>
